<style>
    .help-block {
        display: none;
    }
</style>
<h2>Update User
    <a href="#!/user/listing" class="btn btn-primary pull-right">Back</a></h2>
<p class="alert msgStatus hide"></p>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Update User Detail
            </div>
            <div class="panel-body">
                <div class="row">
                    <form name="userform" role="form">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input ng-model="user.firstName" class="form-control" tabindex="1" required>
                                <p class="help-block">First name required.</p>
                            </div>
                            <div class="form-group">
                                <label>User Name</label>
                                <input ng-model="user.userName" tabindex="3" class="form-control" required>
                                <p class="help-block">Username required.</p>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input id="password" name="password" ng-model="user.password" tabindex="5"
                                       class="form-control" type="password"
                                       ng-required="confirm_password && !user-password"
                                       password-verify="confirm_pasword" required>
                                <p class="help-block">Password required.</p>
                            </div>
                            <div class="form-group">
                                <label>User Role</label>
                                <div class="checkbox">
                                    <label>
                                        <input tabindex="7" ng-checked="user.isAdmin" ng-model="user.isAdmin" type="checkbox"> Admin
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input ng-model="user.lastName" tabindex="2" class="form-control" required>
                                <p class="help-block">Last name required.</p>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" tabindex="4" ng-model="user.email" class="form-control" required>
                                <p class="help-block">Email required.</p>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input name="confirm_password" tabindex="6" ng-model="user.cpassword"
                                       class="form-control" type="password" pw-check='password' required>
                                <p class="help-block">Confirm Password required.</p>
                                <div class="msg-block" ng-show="userform.$error">
                                    <span class="msg-error" ng-show="userform.confirm_password.$error.pwmatch">Passwords don't match.</span>
                                </div>
                            </div>
                            <button tabindex="8" ng-disabled="userform.$invalid && userform.$error" ng-click="save()"
                                    type="button" class="btn btn-success">Save
                            </button>
                            <a tabindex="9" href="#!/user/listing" class="btn btn-default">Discard</a>
                        </div>
                    </form>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="line"></div>
