<h2>User Listing
    <a href="#!/add/user" class="btn btn-primary pull-right">Add User</a></h2>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{::user.username}}</td>
                <td>{{::user.fname}}</td>
                <td>{{::user.lname}}</td>
                <td>{{::user.email}}</td>
                <td>
                    <a class="fa fa-pencil" href="#!/edit/user/{{::user.id}}"></a>
                    <a ng-click="deleteUser(user.id)" class="fa fa-times hide" href="javascript:void(0);"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="line"></div>
