<style>
    .help-block {
        display: none;
    }
</style>
<h2>New Profile
    <a href="#!/profiles" class="btn btn-primary pull-right">Back</a></h2>
<p class="alert msgStatus hide"></p>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Profile Detail
            </div>
            <div class="panel-body">
                <form name="userform" role="form">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Type</label>
                                <select ng-model="profile.type" name="type" id="type" class="form-control" tabindex="1"
                                        required>
                                    <option value="">--Select--</option>
                                    <option ng-repeat="type in profileTypes" value="{{::type.id}}">{{::type.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>First Name</label>
                                <input ng-model="profile.firstname" class="form-control" tabindex="4" required>
                                <p class="help-block">First name required.</p>
                            </div>
                            <div class="form-group">
                                <label>Company</label>
                                <input ng-model="profile.company" class="form-control" tabindex="7" required>
                            </div>
                            <div class="form-group">
                                <label>Postal Code</label>
                                <input ng-model="profile.postal_code" class="form-control" tabindex="10" required>
                            </div>
                            <div class="form-group">
                                <label>Work No</label>
                                <input ng-model="profile.work_no" class="form-control" tabindex="13" required>
                            </div>
                        </div>

                        <!-- Second Row -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Client Type</label>
                                <select ng-disabled="profile.type !== '1'" ng-model="profile.client_type" name="type"
                                        id="client_type" class="form-control"
                                        tabindex="2"
                                        required>
                                    <option value="">--Select--</option>
                                    <option value="WSD">WSD</option>
                                    <option value="Default">Default</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input ng-model="profile.lastname" class="form-control" tabindex="5" required>
                            </div>
                            <div class="form-group">
                                <label>Gender</label>
                                <select ng-model="profile.gender" name="gender"
                                        id="gender" class="form-control"
                                        tabindex="8" required>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Country</label>
                                <input ng-model="profile.country" class="form-control" tabindex="11" required>
                            </div>

                            <div class="form-group">
                                <label>Phone No</label>
                                <input ng-model="profile.cell_no" class="form-control" tabindex="14" required>
                            </div>
                        </div>

                        <!-- Third Row -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Projects</label>
                                <select ng-model="profile.project" name="project"
                                        id="project" class="form-control" tabindex="3">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="project in projects" value="{{::project.id}}">{{::project.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" tabindex="6" ng-model="profile.email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Website</label>
                                <input ng-model="profile.website" class="form-control" tabindex="9" required>
                            </div>
                            <div class="form-group">
                                <label>State</label>
                                <input ng-model="profile.state" class="form-control" tabindex="12" required>
                            </div>
                            <div class="form-group">
                                <label>Fax</label>
                                <input ng-model="profile.fax" class="form-control" tabindex="15" required>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Timezone</label>
                                <input ng-model="profile.timezone" class="form-control" tabindex="16" required>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label>Address</label>
                                <textarea ng-model="profile.address" class="form-control" tabindex="17"
                                          required></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row pull-right">
                        <div class="col-lg-12">
                            <button tabindex="18" ng-disabled="userform.$invalid && userform.$error" ng-click="save()"
                                    type="button" class="btn btn-success">Save
                            </button>
                            <a tabindex="19" href="#!/profiles" class="btn btn-default">Discard</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="line"></div>
