<h2>Profile Listing
    <a href="#!/profile/new" class="btn btn-primary pull-right">Add Profile</a></h2>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Type</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Company</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="profiles.length <= 0">
                <td colspan="7" class="text-center">No data found.</td>
            </tr>
            <tr ng-repeat="profile in profiles">
                <td class="text-center">
                    <img src="assets/uploads/profiles/{{::profile.photo}}" width="40" height="40"
                         alt="Profile Image">
                </td>
                <td>{{getTypeName(profile.type)}}</td>
                <td>{{::profile.firstname}} {{::profile.lastname}}</td>
                <td>{{::profile.email}}</td>
                <td>{{::profile.company}}</td>
                <td>{{::profile.gender}}</td>
                <td>
                    <a class="fa fa-pencil" href="#!/edit/profile/{{::profile.id}}"></a>
                    <a ng-click="deleteProfile(profile.id)" class="fa fa-times hide" href="javascript:void(0);"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="line"></div>
