<h2>Project Listing
    <a href="#!/project/new" class="btn btn-primary pull-right">Add Project</a></h2>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Date Started</th>
                <th>Date End</th>
                <th>Date On board</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="projects.length <= 0">
                <td colspan="7" class="text-center">No data found.</td>
            </tr>
            <tr ng-repeat="project in projects">
                <td class="text-center">
                    <img src="assets/uploads/profiles/{{::project.logo}}" width="40" height="40"
                         alt="Project Image">
                </td>
                <td>{{::project.name}}</td>
                <td>{{::project.description}}</td>
                <td>{{::project.date_started}}</td>
                <td>{{::project.date_ended}}</td>
                <td>{{::project.date_onboard}}</td>
                <td>{{::project.status}}</td>
                <td>
                    <a class="fa fa-pencil" href="#!/edit/profile/{{::project.id}}"></a>
                    <a ng-click="deleteProfile(project.id)" class="fa fa-times hide" href="javascript:void(0);"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="line"></div>
